p {
    text-align: right; 
    margin: 20px;
}
.gen {
    text-align: center; 
    font-size: 70px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.searchBar {
    border-radius: 50px;
    height: 40px;
    max-width: 100%;
    min-width: 40px;
    width: 50vw;
}
.searchButton, .lucky {
    padding: 5px;
    font-size: 15px;
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.search-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    width: 200px; /* Adjust the width as needed */
    margin-right: 10px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 5px;
    font-size: 16px;
  }